*
    font-family 'Archivo', sans-serif
nav
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3a4982+51,2b3e89+100 */
    background #3a4982
    background -moz-linear-gradient(top,  #3a4982 75%, #2b3e89 100%)
    background -webkit-linear-gradient(top,  #3a4982 75%,#2b3e89 100%)
    background linear-gradient(to bottom,  #3a4982 75%,#2b3e89 100%)
    padding 1rem
    display flex
    justify-content space-between
    align-items center
    .logo
        width 3rem
    ul
        padding-left 0
        display flex
        flex-direction row
        justify-content flex-end
        margin 0
        width 50%
        li
            flex 1 1 auto
            list-style-type none
            a
                color white
                &:hover
                    txt_orange()
            &:last-of-type
                flex 2 2 auto

img
    max-width 100%
    height auto