txt_blue()
    color #25408f
    color rgba(37, 64, 143, 1.0)
    color hsl(225, 59%, 35%)

bg_blue()
    background-color #25408f
    background-color rgba(37, 64, 143, 1.0)
    background-color hsl(225, 59%, 35%)

txt_orange()
    color: #c26f1f
    color: rgba(194, 111, 31, 1.0)
    color: hsl(29, 72%, 44%)

bg_orange()
    background-color #c26f1f
    background-color rgba(194, 111, 31, 1.0)
    background-color hsl(29, 72%, 44%)